.EditToForm {
    width: 100%;
    margin-bottom: 1rem;
}

.EditToForm-input {
    outline: none;
    background: none;
    border: 1px solid;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 300px;
    color: #fff;
}

.EditToForm-input::placeholder {
    color: #ffffff4d;
}

.EditToForm-btn {
    background: #ffbe98;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}