.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fa-trash {
    margin-left: 0.75rem;
}

.incompleted {
    color: #fff;
    cursor: pointer;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
    cursor: pointer;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
}